.message {
    display: flex;
    align-items: flex-end;
    margin: 10px;
}

.avatar {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.content {
    padding: 10px;
    border-radius: 5px 5px 5px 0px;
    background-color: rgba(100,150,245,0.3);
}
.angel{
    width: 15px;
    height: 15px;
    background:radial-gradient(circle at 0 0,rgba(0,0,0,0) 15px,rgba(100,150,245,0.3) 0);
}
.name{
   font-size:20px;
    font-weight: bold;
    color: darkcyan;

}
.text{
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
    color: darkcyan;
    font-size:15px;
    font-weight: bold;
}
.time{
    display: flex;
    justify-content: flex-end;
    color: darkcyan;
}