@keyframes blink {
    0% {
        left:-130%;
    }
    100%{
        left:130%;
    }
}

.default {
    background: #61dafb;
    color: darkred;
    outline: none;
}

.red {
    background: red;
}
.button {
    position: relative;
    margin: 10px;
    everflow:hidden;
    cursor:pointer;
}
.button::after{
    display: block;
    content:'';
    position:absolute;

    left:-130%;
    top:0;
    height: 100%;
    width:20%;

    transform: skew(45deg);
    background-color: azure;
    opacity: 0.7;
    z-index: 14;
}
.button::after{
    animation: blink 0.35s ease; /* https://html5book.ru/css3-animation/*/
    }
.button:hover::before{
    display:block;
    content: '';
    position: absolute;

    left: -100vh;
    top:0;
    height: 100vh;
    width: 300vw;
    background-color: azure;
    opacity: 0.2;
    z-index: 7;
}
.button:focus{
   outline: azure solid 1px;
}
.button:active{
    background: azure;
}

.button:disabled{
    color: darkgreen;
    cursor: auto;
}

.button:disabled::after{
    z-index: -1;
}

.button:disabled::before{
    z-index: -1;
}